<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="run.wyatt.oneplatform.todo.dao.TodoLogDao">
    <insert id="insert" parameterType="run.wyatt.oneplatform.todo.model.entity.TodoLog" useGeneratedKeys="true"
            keyColumn="id" keyProperty="id">
        insert into tb_todo_item_log (
        <trim suffixOverrides="," suffix="">
            <if test="tenant != null">tenant,</if>
            <if test="todoId != null">todo_id,</if>
            <if test="title != null">title,</if>
            <if test="log != null">log,</if>
            <if test="submitTime != null">submit_time,</if>
        </trim>
        ) values (
        <trim suffixOverrides="," suffix="">
            <if test="tenant != null">#{tenant},</if>
            <if test="todoId != null">#{todoId},</if>
            <if test="title != null">#{title},</if>
            <if test="log != null">#{log},</if>
            <if test="submitTime != null">#{submitTime},</if>
        </trim>
        )
    </insert>
    <select id="findByIds" resultType="run.wyatt.oneplatform.todo.model.entity.TodoLog">
        select * from tb_todo_item_log where tenant=#{tenant}
        <if test="ids.size() > 0">
            and id in (<foreach collection="ids" item="id" separator=",">#{id}</foreach>)
        </if>
    </select>
    <select id="findByTodoIdSortBySubmitTimeDesc" resultType="run.wyatt.oneplatform.todo.model.entity.TodoLog">
        select * from tb_todo_item_log where tenant=#{tenant} and todo_id=#{todoId} order by submit_time desc
    </select>
</mapper>