<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="run.wyatt.oneplatform.user.dao.RoleDao">
    <select id="findActivatedRolesByUserId" resultType="run.wyatt.oneplatform.user.model.entity.Role">
        select distinct r.id, r.identifier, r.name, r.description, r.activated
        from (select * from tb_user_role where user_id=#{userId}) ur
        inner join tb_role r on ur.role_id=r.id
        where r.activated=1
    </select>
</mapper>