<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 配置MyBatis全局属性 -->
    <settings>
        <!-- 用JDBC的GeneratedKeys()方法获得自增主键 -->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 使用使用列别名替代表列名替换列名 -->
        <setting name="useColumnLabel" value="true"/>
        <!-- 开启命名风格映射：下划线<==>驼峰 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>
