<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="run.wyatt.oneplatform.system.dao.RoleDao">
    <select id="findByUserId" resultType="run.wyatt.oneplatform.system.model.entity.Role">
        select distinct R.id, R.identifier, R.name, R.description, R.activated
        from (select * from tb_sys_user_role where user_id=#{userId}) UR
        inner join tb_sys_role R on UR.role_id=R.id
    </select>
</mapper>