<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="run.wyatt.oneplatform.system.dao.UserDao">
    <insert id="insert" parameterType="run.wyatt.oneplatform.system.model.entity.User" useGeneratedKeys="true"
            keyColumn="id" keyProperty="id">
        insert into tb_sys_user (
        <trim suffixOverrides="," suffix="">
            <if test="record.username != null">username,</if>
            <if test="record.password != null">password,</if>
            <if test="record.salt != null">salt,</if>
            <if test="record.nickname != null">nickname,</if>
            <if test="record.motto != null">motto,</if>
            <if test="record.avatar != null">avatar,</if>
        </trim>
        ) values (
        <trim suffixOverrides="," suffix="">
            <if test="record.username != null">#{record.username},</if>
            <if test="record.password != null">#{record.password},</if>
            <if test="record.salt != null">#{record.salt},</if>
            <if test="record.nickname != null">#{record.nickname},</if>
            <if test="record.motto != null">#{record.motto},</if>
            <if test="record.avatar != null">#{record.avatar},</if>
        </trim>
        )
    </insert>
    <select id="findByUsername" resultType="run.wyatt.oneplatform.system.model.entity.User">
        select * from tb_sys_user where username=#{username}
    </select>
</mapper>