<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="run.wyatt.oneplatform.dao.AuthDao">
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into tb_sys_auth (
        <trim suffixOverrides="," suffix="">
            <if test="identifier != null">identifier,</if>
            <if test="name != null">name,</if>
            <if test="description != null">description,</if>
            <if test="activated != null">activated,</if>
        </trim>
        ) values (
        <trim suffixOverrides="," suffix="">
            <if test="identifier != null">#{identifier},</if>
            <if test="name != null">#{name},</if>
            <if test="description != null">#{description},</if>
            <if test="activated != null">#{activated},</if>
        </trim>
        )
    </insert>
    <delete id="delete">
        delete from tb_sys_auth where id=#{authId}
    </delete>
    <update id="update">
        update tb_sys_auth set
        <trim suffixOverrides="," suffix="">
            id=id,
            <if test="record.identifier != null">identifier=#{record.identifier},</if>
            <if test="record.name != null">name=#{record.name},</if>
            <if test="record.description != null">description=#{record.description},</if>
            <if test="record.activated != null">activated=#{record.activated},</if>
        </trim>
        where id=#{authId}
    </update>
    <select id="findAll" resultType="run.wyatt.oneplatform.model.entity.Auth">
        select * from tb_sys_auth
    </select>
    <select id="findByRoleId" resultType="run.wyatt.oneplatform.model.entity.Auth">
        select distinct A.id, A.identifier, A.name, A.description, A.activated
        from (select * from tb_sys_role_auth where role_id=#{roleId}) RA
        inner join tb_sys_auth A on RA.auth_id=A.id
    </select>
    <select id="findActivatedByUserId" resultType="run.wyatt.oneplatform.model.entity.Auth">
        select distinct A.id, A.identifier, A.name, A.description, A.activated
        from (select * from tb_sys_user_role where user_id=#{userId}) UR
        inner join tb_sys_role R on UR.role_id=R.id and R.activated=1
        inner join tb_sys_role_auth RA on UR.role_id=RA.role_id
        inner join tb_sys_auth A on RA.auth_id=A.id and A.activated=1
    </select>
</mapper>