<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="run.wyatt.oneplatform.dao.UserDao">
    <insert id="insert" parameterType="run.wyatt.oneplatform.model.entity.User" useGeneratedKeys="true"
            keyColumn="id" keyProperty="id">
        insert into tb_um_user (
        <trim suffixOverrides="," suffix="">
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="salt != null">salt,</if>
            <if test="nickname != null">nickname,</if>
            <if test="motto != null">motto,</if>
            <if test="avatar != null">avatar,</if>
        </trim>
        ) values (
        <trim suffixOverrides="," suffix="">
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="salt != null">#{salt},</if>
            <if test="nickname != null">#{nickname},</if>
            <if test="motto != null">#{motto},</if>
            <if test="avatar != null">#{avatar},</if>
        </trim>
        )
    </insert>
    <update id="update">
        update tb_um_user set
        <trim suffixOverrides="," suffix="">
            id=id,
            <if test="record.username != null">username=#{record.username},</if>
            <if test="record.password != null">password=#{record.password},</if>
            <if test="record.salt != null">salt=#{record.salt},</if>
            <if test="record.nickname != null">nickname=#{record.nickname},</if>
            <if test="record.motto != null">motto=#{record.motto},</if>
            <if test="record.avatar != null">avatar=#{record.avatar},</if>
        </trim>
        where id=#{id}
    </update>
    <select id="findAll" resultType="run.wyatt.oneplatform.model.entity.User">
        select * from tb_um_user
    </select>
    <select id="findById" resultType="run.wyatt.oneplatform.model.entity.User">
        select * from tb_um_user where id=#{id}
    </select>
    <select id="findByUsername" resultType="run.wyatt.oneplatform.model.entity.User">
        select * from tb_um_user where username=#{username}
    </select>
    <select id="findByNickname" resultType="run.wyatt.oneplatform.model.entity.User">
        select * from tb_um_user where nickname=#{nickname}
    </select>
</mapper>